.Wrapper{
    background-color: rgb(255, 250, 220);
    width: 700px;
    height: 600px;
    margin: 150px auto;
}

.Header{
    font-family: 'Humanbumsuk';
    font-size: 40pt;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title{
    font-family: 'Humanbumsuk';
    font-size: 30pt;
    margin-top: 40px;
}

.LogoImage{
    margin-top: 10px;
}

.Desc{
    font-family: 'Humanbumsuk';
    font-size: 30pt;
    margin-top: 20px;
}
.ReStartBtn{
    width: 30%;
    min-height: 10px;
    font-size: 15pt;
    margin-top: 20px;
    border: none;
    --c: no-repeat linear-gradient(#366360 0 0);
    background: 
      var(--c) calc(-101% + var(--i,0)*101%) 100% / 50.1% calc(100%*var(--i,0) + .08em),
      var(--c) calc( 201% - var(--i,0)*101%) 0    / 50.1% calc(100%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - var(--i,0)*.3s);
}

  .ReStartBtn:hover {
    --i: 1;
    color: white;
  }

